.wp-block-skulogic-callout {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}
.callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  background-color: #003657;
  color: #ffffff;
  padding: 2rem;
  position: relative;
  width: 100%;
  max-width: 75%;
}
.callout h2 {
  font-size: 2.5rem;
}
.callout::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: solid white;
  border-right: solid #003657;
  width: 0;
}
.callout::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-top: solid #003657;
  border-right: solid white;
  width: 0;
}
.callout-content {
  background-color: #003657;
}
.callout-content {
  padding: 2rem;
}

@media only screen and (max-width : 992px) {
  .callout::before {
    border-top-width: 25px !important;
    border-right-width: 25px !important;
  }
  .callout::after {
    border-top-width: 25px !important;
    border-right-width: 25px !important;
  }
}
