body {
  padding-top: 0;
  margin-bottom: 0;
  font-family: 'PT Sans';
}
article {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding: 0;
  margin: 0;
}
main {
  padding-top: 4.5rem;
}
p {
  margin: 0;
  padding-bottom: 1rem;
}
form {
  margin-left: -15px;
}
.header-widget {
  margin: 0 -15px;
  padding: 0.5rem;
  text-align: right;
}
.header-widget p {
  display: inline-block;
  padding-bottom: 0;
  margin: 0 0.5rem;
}
.container .wp-block-image.aligncenter {
  width: 750px;
  max-width: 95%;
  margin: 3rem auto;
}
.container .wp-block-image.aligncenter img {
  width: 100%;
}
.container p {
  overflow: hidden;
}
.container p img {
  float: left;
  margin: 0.25rem 1rem 0.25rem 0;
}
.sku-blue {
  color: #003657;
}
.bg-sku-blue {
  background-color: #003657;
}
.bg-sku-yellow {
  background-color: #e4c221;
}
.bg-sku-gray {
  background-color: #f1f1f1;
}
.entry-footer,
.entry-header {
  display: none;
  position: absolute;
  z-index: 99;
}
.img-brand {
  height: 50px;
  max-width: calc( 100vw - 105px );
}
.home .wp-block-cover-image-text {
  display: none;
}
.wp-block-gallery {
  margin: 3rem -15px;
}
.wp-block-gallery .blocks-gallery-item {
  width: calc( 100% - 8px );
}
.wp-block-gallery.is-cropped .blocks-gallery-item img {
  border: 2px solid #e4c221;
  border-radius: 50%;
  padding: 2px;
  width: 150px;
  height: 150px;
  min-width: 150px;
  max-width: 150px;
  min-height: 150px;
  max-height: 150px;
}
.wp-block-gallery .blocks-gallery-item figure {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.wp-block-gallery .blocks-gallery-item img {
  position: absolute;
  top: 0;
}
.wp-block-gallery .blocks-gallery-item figcaption {
  position: unset;
  color: #003657;
  background: none;
  text-align: center;
  font-size: 16px;
  margin-top: 200px;
}
.wp-block-skulogic-call-to-action {
  display: block;
  position: relative;
  max-width: 75%;
  margin: calc( 2rem + 20px ) auto 2rem auto;
  border: solid 1px #e4c221;
  padding: 0.25rem;
  border-radius: 25px 0 0 25px;
  text-align: center;
}
.wp-block-skulogic-call-to-action h2,
.wp-block-skulogic-call-to-action p {
  padding-right: 2rem;
  padding-left: 2rem;
}
.wp-block-skulogic-call-to-action a {
  display: inline-block;
  background-color: #e4c221;
  color: white;
  padding: 1.5rem;
  margin: 1rem 1rem 0 1rem;
  transition: all 0.2s ease-in-out;
  border: 2px solid #e4c221;
  text-transform: uppercase;
  font-size: 125%;
}
.wp-block-skulogic-call-to-action a:hover {
  text-decoration: none;
  background-color: #c9c911;
}
.wp-block-skulogic-page-header {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  min-height: 75vh;
  padding: 1rem;
  margin: 0 -15px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.wp-block-skulogic-page-header:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba( 0, 0, 0, 0.5 );
  z-index: 0;
}
.wp-block-skulogic-page-header > * {
  z-index: 1;
}
.wp-block-skulogic-page-header h2 {
  color: #fff;
  position: relative;
  text-transform: uppercase;
}
.wp-block-skulogic-page-header h2:after {
  content: '';
  background-image: URL( '/wp-content/themes/skulogic/assets/images/YellowArrow1.svg');
  background-repeat: no-repeat;
  height: 4.5rem;
  width: 3rem;
  position: absolute;
  top: 1.5rem;
  right: -3.5rem;
  display: block;
}
.wp-block-skulogic-page-header h2:first-line {
  font-size: 300%;
}
.wp-block-skulogic-page-header p {
  color: #fff;
}
.wp-block-skulogic-page-header button {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  margin-top: 1rem;
  background-color: #e4c221;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
}
.wp-block-skulogic-page-header button:after {
  content: '';
  background-image: URL( '/wp-content/themes/skulogic/assets/images/WhiteArrow1.svg');
  background-repeat: no-repeat;
  height: 0.8rem;
  width: 0.5rem;
  display: inline-block;
  margin-left: 0.5rem;
}
.wp-block-skulogic-container {
  margin: 0 -15px;
  padding: 2rem;
}
.wp-block-skulogic-container p {
  font-size: 125%;;
}
.wp-block-skulogic-container p:last-of-type {
  padding-bottom: 0;
}
.wp-block-cover-image {
  margin: 0 -15px;
  width: initial;
  background-position: 50% 20%;
}
.wp-block-core-paragraph {
  margin: 0 -15px;
}
.wp-block-core-paragraph .container {
  max-width: 700px;
}
.wp-block-core-paragraph p {
  padding: 20px 30px;
  font-size: 120%;
}
.wp-block-cover-image .wp-block-cover-image-text {
  font-size: 4rem;
}
.contact {
  margin: 0 -15px;
  width: auto;
}
.contact .widget .textwidget {
  display: flex;
  justify-content: flex-end;
  padding: 0.25rem 0;
}
.contact .widget .textwidget p {
  color: #003657;
  padding: 0 0.5rem;
}
.widgets .widget {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
}
.widgets .widget .widgettitle {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0.25rem;
}
.widgets .widget .textwidget {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 90%;
  flex-direction: column;
}
.widgets .widget .textwidget p {
  padding-bottom: 0;
  margin: 0 1rem;
}
.copyright {
  margin: 2rem;
  font-size: 75%;
}
.footer-widget {
  padding: 1rem;
}
.emodal .col-md-6 {
  max-width: 100%;
}
@media only screen and (min-width : 768px) {
  .wp-block-skulogic-page-header {
    padding: 2rem 2rem 2rem 10rem;
  }
  .wp-block-skulogic-call-to-action {
    display: block;
    position: relative;
    max-width: 75%;
    margin: calc( 2rem + 20px ) auto 5rem auto;
    border: solid 1px #e4c221;
    padding: 2rem 200px 2rem 2rem;
    border-radius: 25px 0 0 25px;
    text-align: center;
  }
  .wp-block-skulogic-call-to-action h2,
  .wp-block-skulogic-call-to-action p {
    padding-left: 0;
  }
  .wp-block-skulogic-call-to-action img {
    position: absolute;
    max-width: 200px;
    max-height: calc( 100% + 20px );
    right: 0;
    top: -13px;
  }
  .wp-block-cover-image .wp-block-cover-image-text {
    font-size: 6rem;
  }
  .wp-block-gallery.is-cropped .blocks-gallery-item img {
    width: 200px;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
  }
  .widgets .widget {
    justify-content: center;
    flex-direction: row;
  }
  .widgets .widget .textwidget {
    justify-content: space-around;
    align-items: center;
    font-size: 90%;
    flex-direction: row;
  }
}
